StockWF/bin/Debug/StockWF.exe
StockWF/bin/Debug/StockWF.exe.config
StockWF/bin/Debug/StockWF.pdb
StockWF/bin/Debug/StockWF.vshost.exe
StockWF/bin/Debug/StockWF.vshost.exe.config
StockWF/bin/Debug/StockWF.vshost.exe.manifest
StockWF/bin/Debug/
StockWF/obj/
